<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow">
    <div class="container">
        <a class="navbar-brand fw-bold" href="{% url "index" %}">Weather App</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" 
                aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll">
                <li class="nav-item">
                    <a class="nav-link active" href="{% url "index" %}">Home</a>
                </li>
            </ul>
            <form action="{% url "weather_by_city" %}" method="GET" class="d-flex">
                <input class="form-control me-2" type="search" name="city" placeholder="Enter city name" aria-label="Search" required>
                <button class="btn btn-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>